<html>
<body>
    <p>Hello there,</p>

    <p>Your verification code is below. Enter it in the browser where you've started signing up for Campgrounds.</p>

    <h2>{{ token }}</h2>

    <p>If you didn't request this email, you can safely ignore it.</p>
</body>
</html>
